@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: #eee;
}
.App {
  box-sizing: border-box;
  padding: 0;
  width: 60%;
  height: 100%;
}
.App h1{
  color: #444;
  text-align: center;
}

.BookList {
  padding: 0;
}

.BookList li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
}

form {
  background: #ffffff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select, input {
  padding: 6px;
  margin: 4px;
  box-sizing: border-box;
}

form button {
  color: #ffffff;
  font-size: 2em;
  background: #AD1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.BookDetails {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #AD1457;
  color: #ffffff;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
}